* {
    margin: 0;
    padding: 0;
    border: 0;

    text-decoration: none;
    font-family: 'Poppins';
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 100vw;
    height: 10vh;
    padding: 15px;

    background-color: #5d446c;
    color: #d7c5eb;

    a {
        color: #d7c5eb;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    nav {
        width: 47vw;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

footer {
    max-width: 100vw;
    height: 30vh;
    padding: 15px;

    background-color: #5d446c;
    color: #d7c5eb;

    a {
        color: #d7c5eb;
    }

    nav {
        width: 30vw;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 25px 15px;

        div {
            padding-right: 15px;
            width: 12vw;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    section:first-of-type {
        border-bottom: #d7c5eb solid 1.5px;
    }
}

.icones_footer_header {
    width: 38px;
}

main {
    background-color: #d7c5eb;
    color: #1b113b;
}

.button_cta {
    width: 240px;
    height: 48px;
    border-radius: 25px;
    background-color: #db8a2c;

    font-size: 18px;
    color: #eec88f;
    text-align: center;

    transition: 0.4s;
}

.button_cta:hover {
    font-weight: 600;
    cursor: pointer;

    background-color: #eec88f;
    color: #db8a2c;
}

#section_hero {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 80vh;

    img {
        position: absolute;
        width: 45%;
        left: 48%;
    }

    svg {
        position: absolute;
        width: 100%;
        bottom: 0%;
    }
}

.article_section_textos {
    margin: 5%;
    width: 50vw;

    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 99999;

    h1 {
        font-size: 48px;
    }
}

#section_servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    height: 90vh;
    width: 100%;
    padding: 20px 0;

    background-color: #eed2a8;

    h2 {
        font-size: 36px;
    }
}

.article_section_blocos {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    
}

.div_servicos {
    width: 20%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    text-align: center;

    img {
        width: 128px;
    }
}

#section_motivacao {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 90vh;

    img {
        width: 48%;
        padding: 20px;
    }
}

#section_localizacao {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 90vh;

    img {
        width: 50%;
        padding: 20px;
    }
}

.article_section_localizacao {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    h2 {
        margin-bottom: 15px;
        font-size: 36px;
    }
}

.div_localizacao {
    width: 480px;
    height: 60px;
    border-radius: 20px;
    background-color: #5d446c;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 56px;
        object-fit: contain;
    }

    p {
        margin: 0;
        width: 700px;
    }
}

#section_feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    height: 40vh;
    width: 100%;
    padding: 20px 0;
}

.div_feedback {
    width: 360px;
    height: fit-content;
    background-color: #f0f0f0;
    border-radius: 20px;

    padding: 10px;
}